<div class="grid layout-dashboard">
    <div class="col-12 lg:col-12 ">
        <div class="grid flex-column grid-nogutter">
             <div class="col-12 widget-news">
                <div class="news-row" [ngStyle]="{'transform': activeNews === 1 ? 'translate3d(0px, 0px, 0px)':activeNews === 2
                ?'translate3d(-100%, 0px, 0px)':'translate3d(-200%, 0px, 0px)'}">
                     <div class="card news news-2 active-news">
                        <div class="news-title">
                            <h5>INFO</h5>
                        </div>
                        <h6>Acerca del evento</h6>
                        <p style="text-align: justify;">La cuarta edición del Congreso Internacional de Hidrógeno, que se celebrará el 1 y 2 de abril de 2025 en el Hotel Grand Hyatt Bogotá, 
                            es el punto de encuentro clave para impulsar el desarrollo del hidrógeno en Colombia. El evento reunirá a líderes de la industria, gobierno, academia, 
                            inversionistas y organizaciones clave para presentar proyectos innovadores y discutir estrategias que fomenten la demanda en sectores críticos como los biocombustibles, 
                            fertilizantes, transporte y energía. Con un enfoque regional y espacios para networking, el congreso busca adaptar el avance del hidrógeno a las necesidades locales, 
                            promoviendo la colaboración y consolidando una economía sostenible basada en esta fuente de energía limpia.</p><br />
                            <div class="grid link">
                                <div class="col-9">
                                    <a href="https://hidrogenocolombia.com" target="_blank">
                                        Hidrógeno Colombia | WEC
                                    </a>
                                </div>
                            </div>
                    </div> 
                    <div class="link-points">
                        <div class="grid points">
                            <div class="col-4 point point-2 " [ngClass]="{'active-point': activeNews === 2}" (click)="activeNews = 1"></div>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
	<div class="col-12">
		<div class="card widget-store-items">
			<div class="store-cards-container">
				<div class="grid store-cards">
					<div class="col-12 lg:col-6 md:col-6">
                        <div class="store-card">
							<div class="store-card-image">
							</div>						
							<div class="store-card-content">
								<span>Síguenos en nuestras redes sociales y registra tus momentos favoritos del evento con el</span><h5>#CongresoH2Col</h5>
                                <hr>
                                <div style="text-align: left; padding: 10px;">
                                    <span><i class="pi pi-linkedin"></i> Hidrógeno Colombia</span><br>
                                    <span><i class="pi pi-twitter"></i> asoh2colombia</span><br><br>
                                    <span><i class="pi pi-linkedin"></i> Consejo Mundial de Energía Colombia</span><br>
                                    <span><i class="pi pi-twitter"></i> WEC_COLOMBIA</span>
                                    <span></span>	
                                </div>
							</div>
                        </div>
					</div>
											
				</div>
			</div>
		</div>
	</div>	    
</div>
 
